# Python packages and versions used in the development environment

arrow==0.4.2
cliff==1.5.2
cmd2==0.6.7
coverage==3.7.1
prettytable==0.7.2
py==1.4.20
pyparsing==2.0.1
pytest==2.5.2
python-dateutil==2.2
six==1.5.2
stevedore==0.14.1
tox==1.7.0
virtualenv==1.11.4
